<html>
<head>
<title>It's what I do.</title>
</head>

<body>
<h1>Ella Samoles-Little</h1>
<h3>Film, Photography & Event Planning</h3>
<p> Contact details: e.samoles@gmail.com </p>
<ul>
	<li>
		<a href="/photography">Photography</a>
	</li>
  <li> 
     <a href="/film">Film</a>
  </li>
</ul>
</body>
</html>
