<html>
  <head>
    <title> Ella Samoles-Little </title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <ul class="navigation">
	    <li>
            <a href="/">Home</a>
        </li>
        <li>
		    <a href="/photography">Photography</a>
	    </li>
      <li> 
         <a href="/film">Film</a>
      </li> 
       <li> 
          <a href="/events">Events</a>
      <li>
         <a href="/contact">Contact</a>
      </li>
      <li> 
         <a href="/skills">Skills</a>
      <li> 
         <a href="/inspiration">Taking Inspiration</a>
    </ul>
    <%= yield %>
  </body>
</html>
