<h1 class="uncomplete"> ...COMING SOON... </h1>
<script>
  $(function() {
    $('#shop').addClass('current');
  });
</script>
<img src="buildings.jpg"height="300" width="300"/>
<img src="crash.jpg"height="300" width="300"/>
<img src="norf.jpg"height="300" width="300"/>

